<div class="container">
<div class="row">
<%= render 'users/user_info' %>

<div class="col-xs-9">
  <h2>Book detail</h2>
  <table class="table">
    <thead>
      <th></th>
      <th>Title</th>
      <th>body</th>
      <th></th>
      <th></th>

    </thead>
    <tbody>
      <tr>
        <td><a href=<%= user_path(@user.id) %>>
	    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %><%= @user.name %></a>
	</td>
        <td><a href=<%= book_path(@book.id) %>><%= @book.title %></td>
        <td><%= @book.body %></td>
	<td><a class="col-xs-12 btn-sm btn-success" href=<%= edit_book_path(@book.id) %>>Edit</a>
	<td><%= link_to "Destroy", book_path(@book.id), method: :delete, class: "col-xs-12 btn-sm btn-success"%></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
